html{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr max-content 1fr;
    grid-template-areas:
        ". .... ."
        ". item ."
        ". .... .";
}
.container{
    background: #ddd;
    width: max-content;
    height: max-content;
    grid-area: item;
}
